RM_ROS/auto_car/tags
RM_ROS/auto_car/devel/
RM_ROS/auto_car/build/
RM_ROS/rune_detect/
RM_ROS/test_package/devel
RM_ROS/test_package/build
leroy_ws/devel
leroy_ws/build
leroy_ws/src/apriltags/pod-build
*/build
*/devel
tags
