auto_car/src/CMakeLists.txt
auto_car/tags
auto_car/devel/
auto_car/build/
RM_ROS/rune_detect/
RM_ROS/test_package/devel
RM_ROS/test_package/build
leroy_ws/devel
leroy_ws/build
leroy_ws/src/apriltags/pod-build
*/build
*/devel
tags
